package com.unclecloud.domain;

import lombok.Data;

import javax.persistence.Entity;
import javax.persistence.Id;
import javax.persistence.Table;
import java.io.Serializable;
import java.util.Date;

@Data
@Entity
@Table(name = "${tableName}")
public class ${className} implements Serializable {

<#if fields?? && 0 < fields?size>
<#list fields as f>
    <#if ("id" == f.fieldName)>
    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    </#if>
    private ${f.fieldType!} ${f.fieldName!}<#if ("Date" == f.fieldType)> = new Date()</#if>;
</#list>
</#if>

}
