<#include "manage/ManageLeft.html" />

                <div class="manage-right">
                    <div class="manage-right-content">
<!--                        <div class="manage-content-title">-->
<!--                            <div class="manage-content-title-left">Recent Sandboxes</div>-->
<!--                            <div class="manage-content-title-right">Product Right</div>-->
<!--                        </div>-->

                        <div id="section">
                            <div class="add">
                                <a href="javascript:;" data-fancybox data-type="ajax" data-src="/product/edit/0">
                                    添加产品 <span class="size_22">+</span>
                                </a>
                            </div>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>名称</th>
                                        <th>排序</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>1</th>
                                        <th>名称1</th>
                                        <th>排序1</th>
                                        <th>操作1</th>
                                    </tr>
                                    <tr><th>2</th><th>名称12</th><th>排序12</th><th>操作12</th></tr>
                                    <tr><th>3</th><th>名称123</th><th>排序123</th><th>操作123</th></tr>
                                    <tr><th>4</th><th>名称1234</th><th>排序1234</th><th>操作1234</th></tr>
                                    <tr><th>5</th><th>名称12345</th><th>排序12345</th><th>操作12345</th></tr>
                                    <tr><th>2</th><th>名称12</th><th>排序12</th><th>操作12</th></tr>
                                    <tr><th>3</th><th>名称123</th><th>排序123</th><th>操作123</th></tr>
                                    <tr><th>4</th><th>名称1234</th><th>排序1234</th><th>操作1234</th></tr>
                                    <tr><th>5</th><th>名称12345</th><th>排序12345</th><th>操作12345</th></tr>
                                    <tr><th>2</th><th>名称12</th><th>排序12</th><th>操作12</th></tr>
                                    <tr><th>3</th><th>名称123</th><th>排序123</th><th>操作123</th></tr>
                                    <tr><th>4</th><th>名称1234</th><th>排序1234</th><th>操作1234</th></tr>
                                    <tr><th>5</th><th>名称12345</th><th>排序12345</th><th>操作12345</th></tr>
                                </tbody>
                            </table>
                        </div>

<#include "manage/ManageBottom.html" />