<#include "obj.html" />
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>后台管理</title>
        <link rel="stylesheet" type="text/css" href="${request.contextPath}/css/animate.min.css" />
        <link rel="stylesheet" type="text/css" href="${request.contextPath}/css/style.css" />
        <link rel="stylesheet" type="text/css" href="${request.contextPath}/css/iconfont.css" />
        <link rel="stylesheet" type="text/css" href="${request.contextPath}/css/jquery.fancybox.3.5.7.css" />
        <script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="${request.contextPath}/js/jquery.fancybox.3.5.7.js"></script>
        <script type="text/javascript" src="${request.contextPath}/js/notify.js"></script>
    </head>

    <body>
        <div class="wrapper">
            <div class="wrapper-body">
                <div class="wrapper-body-manage">
                    <div class="manage-top">
                        <div class="manage-logo">
                            <a href="/" target="_blank"><img src="/images/logo.png" /></a>
                        </div>
                        <div class="manage-top-right">
                            <div class="manage-top-right-wrapper">
                                <ul id="nav">
                                    <li class="manage-top-right-item">
                                        <a href="javascript:;"><i class="iconfont icon-worksheet"></i></a>
                                        <ul>
                                            <li><a href="#">创建工单</a></li>
                                            <li><a href="manage/worksheet">我的工单</a></li>
                                        </ul>
                                    </li>
                                    <li class="manage-top-right-item">
                                        <a href="javascript:;"><i class="iconfont icon-zhuji"></i></a>
                                        <ul>
                                            <li><a href="#">个人信息</a></li>
                                            <li><a href="#">退出</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div style="display: flex; overflow: hidden;">
                        <div class="manage-left">
                            <aside class="manage-aside">
                                <div class="manage-menu" style="margin-bottom: 1rem;">

                                    <a href="manage" class="manage-menu-item <#if ('manage' == active)>active</#if>">
                                        <div class="iconfont-before"></div>
                                        <div class="menu-iconfont"><i class="iconfont icon-shili1"></i></div>
                                        <div class="menu-text">首页</div>
                                    </a>

                                    <a href="manage/worksheet" class="manage-menu-item <#if ('worksheet' == active)>active</#if>">
                                        <div class="iconfont-before"></div>
                                        <div class="menu-iconfont"><i class="iconfont icon-shili1"></i></div>
                                        <div class="menu-text">我的工单</div>
                                    </a>

                                    <a href="instance" class="manage-menu-item <#if ('instance' == active)>active</#if>">
                                        <div class="iconfont-before"></div>
                                        <div class="menu-iconfont"><i class="iconfont icon-shili1"></i></div>
                                        <div class="menu-text">我的实例</div>
                                    </a>

                                    <a href="product" class="manage-menu-item <#if ('product' == active)>active</#if>">
                                        <div class="iconfont-before"></div>
                                        <div class="menu-iconfont"><i class="iconfont icon-shili1"></i></div>
                                        <div class="menu-text">我的产品</div>
                                    </a>

                                    <div>
                                        <a href="product" class="manage-menu-item-a">
                                            <div class="iconfont-before"></div>
                                            <div class="menu-iconfont"><i class="iconfont icon-zhuji1"></i></div>
                                            <div class="menu-text">我的主机</div>
                                        </a>
                                    </div>

                                    <div>
                                        <a href="instance" class="manage-menu-item-a">
                                            <div class="iconfont-before"></div>
                                            <div class="menu-iconfont"><i class="iconfont icon-zhuji1"></i></div>
                                            <div class="menu-text">我的主机222</div>
                                        </a>
                                    </div>
                                </div>

                                <!-- 管理员入口 -->
                                <div style="margin: 2rem;">
                                    <a class="form_button" href="/dashboard/teams/new">进入系统管理</a>
                                </div>

                            </aside>
                        </div>

<script>
$(function() {
    $("#nav li").hover(function() {
        $("ul", this).slideDown(200);
        $(this).children("a:first").addClass("hov");
    }, function() {
        $("ul", this).slideUp(100);
        $(this).children("a:first").addClass("hov");
    });
});
</script>