<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>后台管理</title>
        <link rel="stylesheet" type="text/css" href="${request.contextPath}/css/style.css" />
        <link rel="stylesheet" type="text/css" href="${request.contextPath}/css/iconfont.css" />
        <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="manage-top">
            <div class="manage-logo">
                <a href="/" target="_blank"><img src="images/logo.png" /></a>
            </div>

            <div class="manage-top-right">
                <div class="manage-top-right-wrapper">
                    <div class="manage-top-right-item">
                        <a href="javascript:;"><i class="iconfont icon-zhuji1"></i></a>
                    </div>
                    <div class="manage-top-right-item">
                        <a href="javascript:;"><i class="iconfont icon-zhuji1"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: flex; overflow: hidden;">
            <div class="manage-left">

                <aside class="manage-aside">
                    <div class="manage-menu" style="margin-bottom: 1rem;">


                        <a href="instance">
                            <div style="width: 16px; height: 16px; margin-right: 0.25rem;"></div>
                            <div class="manage-menu-item" style="margin-bottom: 1rem;">
                                <i class="iconfont icon-shili1"></i> Overview 1
                            </div>
                        </a>

                    </div>



                    <a href="instance">
                        <div style="width: 16px; height: 16px; margin-right: 0.25rem;"></div>
                        <div class="manage-menu-item" style="margin-bottom: 1rem;">
                            <i class="iconfont icon-shili1"></i> Overview 2
                        </div>
                    </a>

                </aside>


            </div>




            <div class="manage-right">

                这是右边的主体！

            </div>
        </div>

    </body>
</html>
