
                        <div class="manage-right">
                            <div class="manage-right-content">
                                <!-- <div class="manage-content-title">
                                    <div class="manage-content-title-left">Recent Sandboxes</div>
                                    <div class="manage-content-title-right">right</div>
                                </div>-->

                                <div>
                                    这是右边的主体！！！
                                </div>


<#include "manage/ManageBottom.html" />