<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>宏芯信息科技（宁夏）股份公司</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <header id="header">
            <nav>
                <ul>
                    <li><a href="/photo" class="active">首页</a></li>
                    <li><a href="/album" >相册</a></li>
                    <li><a href="/category" >分类</a></li>
                    <li><a href="/article" >文章</a></li>
                </ul>
            </nav>
        </header>




        <div id="section">
            <div class="add">
                <a href="javascript:;" data-fancybox data-type="ajax" data-src="/worksheet_reply/edit/0">
                    添加 XX <span class="size_22">+</span>
                </a>
            </div>

            <table class="table">
                <thead>
                    <th>id</th>
                    <th>名称</th>
                    <th>排序</th>
                    <th>操作</th>
                </thead>
                <tbody>
                        "Nothing"
                </tbody>
            </table>
        </div>
    </body>
</html>
