<#include "manage/ManageLeft.html" />
                <div class="manage-right">
                    <div class="manage-right-content">
                        <div class="manage-content-title">
                            <div class="manage-content-title-left">Recent Sandboxes</div>
                            <div class="manage-content-title-right">right</div>
                        </div>

                        <div id="section">
                            <div class="add">
                                <a href="javascript:;" data-fancybox data-type="ajax" data-src="/instance/edit/0">
                                    添加实例 <span class="size_22">+</span>
                                </a>
                            </div>

                            <table class="table">
                                <thead>
                                <th>id</th>
                                <th>名称</th>
                                <th>排序</th>
                                <th>操作</th>
                                </thead>
                                <tbody>
                                "Nothing"
                                </tbody>
                            </table>
                        </div>

<#include "manage/ManageBottom.html" />