<div class="animated-modal" style="width: 45%;">
    <h2 class="fancybox-header">创建工单</h2>

    <div style="padding-left: 0;">
        <div class="fancybox-body">
            <div class="content">
                <div>
                    <div>
                        <div>
                            <label>标题：<span class="redStar">*</span></label>
                            <@s.formInput "obj.title" "class='form-control' maxLength='20' placeholder='请输入名称'" />
                            <span id="titleTip" class="blink"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            <label>描述：</label>
                            <@s.formTextarea "obj.describe" "rows='10' cols='5' class='form-control textarea' placeholder='请输入描述'" />
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            <label>附件：<span class="tips">(文件大小不能超过2M)</span></label>
                            <input type="file" id="file" name="file" class="form-control">
                        </div>
                    </div>
                </div>
                <button id="objSubmit" type="button" class="form_button">提&nbsp;&nbsp;&nbsp;&nbsp;交</button>
                <div class="clearFix"></div>
            </div>
        </div>
    </div>

</div>

<script>
$("#objSubmit").click(function() {
    $(this).attr("disabled", "true");
    setTimeout("$('#objSubmit').removeAttr('disabled')", 3000); // 三秒后显示提交按钮

    // 工单标题
    var titleNode = $("#title");
    var titleValue = $.trim(titleNode.val());
    if ("" == titleValue) {
        $("#titleTip").html("请输入标题！");
        titleNode.focus();
        return false;
    }

    // 工单描述
    var describeNode = $("#describe");
    var describeValue = $.trim(describeNode.val());

    var objId = ${obj.id};
    var objFormData = new FormData();
    objFormData.append("id", objId);
    objFormData.append("title", titleValue);

    // 如果没有写描述，不让数据库为空，而是灰色的NULL
    if ("" != describeValue) {
        objFormData.append("describe", describeValue);
    }

    // 在不选文件的情况下，不让数据库插入：undefined
    var file = $("#file")[0].files[0];
    if (file != undefined && 0 < file.size) {
        objFormData.append("file", file);
    }

    $.ajax({
        type: "POST",
        url: "/worksheet/save",
        data: objFormData,
        processData: false, // 告诉jquery不要处理发送的数据
        contentType: false, // 告诉jquery不要设置Content-Type请求头
        success: function(objData) {
            if (200 == objData.code) {
                $.fancybox.close();
                $.notify({ message: objData.message });
                if (0 == objId) { // 新增操作
                    $("#tr0").remove();
                } else {
                    $("#tr" + cData.id).after(newRow);
                    $("#tr" + cData.id).remove();
                }
            }
            if (-200 == objData.code) {
                $.notify({ message: objData.message }, { type: "warning" });
            }
        }
    });
});
</script>
