<#include "manage/ManageLeft.html" />

<div class="manage-right">
    <div class="manage-right-content">

        <div id="section">
            <div class="add">
                <a href="javascript:;" data-fancybox data-type="ajax" data-src="/worksheet/edit/0">
                    创建工单 <span class="size_22">+</span>
                </a>
            </div>

            <table class="table">
                <thead>
                <th>id</th>
                <th>标题</th>
                <th>描述</th>
                <th>创建时间</th>
                <th>操作</th>
                </thead>
                <tbody>
                <#if (list?? && 0 < list?size)>
                    <#list list as l>
                        <tr id="tr${l.id}">
                            <td>${l.id}</td>
                            <td>${l.title}</td>
                            <td>${l.describe}</td>
                            <td>${l.createTime}</td>
                        </tr>
                    </#list>
                </#if>
                </tbody>
            </table>
        </div>

        <#include "manage/ManageBottom.html" />