<#include "manage/ManageLeft.html" />

<div class="manage-right">
    <div class="manage-right-content">

        <div id="section">
            <div class="add">
                <a href="javascript:;" data-fancybox data-type="ajax" data-src="/worksheet/edit/0">
                    创建工单 <span class="size_22">+</span>
                </a>
            </div>

            <table class="table table-hover">
                <thead>
                    <th width="10%">工单编号</th>
                    <th width="55%">工单标题<br />工单描述</th>
                    <th width="10%">状态</th>
                    <th width="15%">创建时间</th>
                    <th width="10%">操作</th>
                </thead>
                <tbody>
                <#if (list?? && 0 < list?size)>
                    <#list list as l>
                        <tr id="tr${l.id}">
                            <td>${l.id}</td>
                            <td>${l.title}<br /><span class="grey pre-text">${l.describe}</span></td>
                            <td><@compress single_line=true><@getWorksheetStatus l.status /></@compress></td>
                            <td>${l.createTime}</td>
                            <td>查看</td>
                        </tr>
                    </#list>
                </#if>
                </tbody>
            </table>
            <div id="pageNav"><span class="condition">共<span class="blue">${count?c}</span>条数据</span><#include "pager.html" /></div>
        </div>

        <#include "manage/ManageBottom.html" />