<div class="animated-modal" style="width: 33%;">
    <h2 class="fancybox-header">创建工单</h2>

    <div style="padding-left: 0;">
        <div class="fancybox-body">
            <div class="content">
                <div>
                    <div>
                        <div>
                            <label>标题：</label>
                            <@s.formInput "obj.title" "class='form-control' maxLength='20' placeholder='请输入名称'" />
                            <span id="nameTip" class="blink"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            <label>描述：</label>
                            <@s.formInput "obj.describe" "class='form-control' maxLength='20' placeholder='请输入名称'" />
                        </div>
                    </div>
                </div>

                <button id="objSubmit" type="button" class="btn btn-info btn-fill pull-left">保 存</button>
                <div class="clearFix"></div>
            </div>
        </div>
    </div>

</div>

<script>
$("#objSubmit").click(function() {
    $(this).attr("disabled", "true");
    setTimeout("$('#objSubmit').removeAttr('disabled')", 3000); // 三秒后显示提交按钮

    var nameNode = $("#name");
    var nameValue = $.trim(nameNode.val());
    if ("" == nameValue) {
        $("#nameTip").html("请输入分类名称！");
        nameNode.focus();
        return false;
    }

    var sequenceNode = $("#sequence");
    var sequenceValue = $.trim(sequenceNode.val());
    if ("" == sequenceValue) {
        $("#sequenceTip").html("请输入分类排序！");
        sequenceNode.focus();
        return false;
    }

    var objId = ;
    var objFormData = new FormData();
    objFormData.append("id", objId);
    objFormData.append("name", nameValue);
    objFormData.append("sequence", sequenceValue);
    $.ajax({
        type: "POST",
        url: "/worksheet/save",
        data: objFormData,
        processData: false, // 告诉jquery不要处理发送的数据
        contentType: false, // 告诉jquery不要设置Content-Type请求头
        success: function(objData) {
            if (200 == objData.code) {
                $.fancybox.close();
                $.notify({ message: objData.message }, { type: "success" });
                var cData = objData.data;
                var updateString = "<a href=\"javascript:;\" data-fancybox data-type=\"ajax\" data-src=\"/obj/sub/edit/" + cData.id + "/" + cData.parentId + "\" title=\"修改\">修改</a>";
                var scriptString = "<script>$(\"#deleteSubCategory" + cData.id + "\").click(function() { $.fancyConfirm({ title : \"删除子分类\", message : \"您确定要删除当前子分类吗？\", okButton  : \"确 定\", noButton  : \"取 消\", callback  : function (value) { if (value) { $.get(\"/obj/delete/" + cData.id + "\", function(data) { if (200 == data.code) { $.notify({ message: data.message }, { type: \"success\" }); $(\"#tr" + cData.id + "\").remove(); } }); } } }); });<\/script>";
                var newRow = "<tr id=\"tr" + cData.id + "\">  <td>" + cData.id + "</td><td>" + cData.name + "</td><td>" + updateString + "&nbsp;&nbsp;"+ scriptString + "</td></tr>";
                if (0 == objId) { // 新增操作
                    $("#tr0").remove();
                } else {
                    $("#tr" + cData.id).after(newRow);
                    $("#tr" + cData.id).remove();
                }
            }
        }
    });
});
</script>
